body{
   text-align: center;
   background-color: #f3d1f4;
   font-family: 'Acme', sans-serif;
  }
  hr{
    width:90%;
  }
.textfield{
  border-style:none;
  border-radius: 25px;
  background: #ededed;
  color: #4d4646;
  margin:5px;
  padding: 10px;
  width:65%
}
.button{
  border-style:none;
  border-radius: 25px;
  background: #ffb2a7;
  margin:10px;
  padding: 10px;
  width:50%

}
.theform{
  background-color: white;
  width: 50%;
  margin: auto auto;
   margin-top: 200px;
   font-family: 'Merriweather Sans', sans-serif;
}
.sign-in{
  color: #ffb2a7;
  position: relative;
  top:15px;
}
